colorama==0.3.7
Django==1.10.3
django-filter==1.0.1
djangorestframework==3.5.3
djangorestframework-jwt==1.8.0
httpie==0.9.6
Markdown==2.6.7
Pillow==3.4.2
Pygments==2.1.3
PyJWT==1.4.2
requests==2.12.1
